.filter-bar,
.sort-bar {
  display: flex;
  align-items: center;
  gap: 15px;
}

select {
  padding: 8px 12px;
  border: 1px solid black;
  background-color: white;
  font-size: 14px;
  cursor: pointer;
}

@media (max-width: 576px) {
  select {
  padding: 6px 0;
  font-size: 12px;
}
}