.quantity-container {
  /* margin-top: 8px; */
  display: inline-flex;
  align-items: center;
  border: 1px solid #ddd;
  /* border-radius: 30px; */
  /* overflow: hidden; */
  width: fit-content;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.qty-btn {
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  color: #333;
  line-height: 1;
  /* font-size: 22px; */
  font-size: 1.6rem;
}

.qty-btn--minus {
  border-right: 1px solid #ddd;
}

.qty-btn--plus {
  border-left: 1px solid #ddd;
}

#quantity {
  /* width: 100%; */
  height: 40px;
  text-align: center;
  border: none;
  outline: none;
  color: #333;
  background: transparent;
  /* padding: 0 0.5rem; */
  font-size: 1.3rem;
  appearance: textfield;
}