.cards-container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.cards-container h4 {
  text-align: center;
}

.card {
  padding: 10px;
  border-radius: 50px;
  margin-bottom: 20px;
  gap: 20px;
  min-width: 200px;
  flex: 0 0 10%;
  transition: all 0.3s ease;
}

.card:hover {
  transform: scale(1.1);
}

.card1 {
  background-color: #ffcc80;
}

.card2 {
  background-color: #b39ddb;
}

.card3 {
  background-color: #81c784;
}

.card4 {
  background-color: #90caf9;
}