.top-deals {
  padding: 80px 15px;
  background-color: #f7f7f7;
  text-align: left;
  overflow: hidden;
}

.top-deals h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 50px;
  color: black;
  letter-spacing: 3px;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.top-deals .swiper-slide {
  /* flex: 0 0 calc(24% - 20px); */
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.deals-next,
.deals-prev {
  color: #000;
}

.top-deals .swiper-pagination {
  position: relative;
  margin-top: 30px;
}

.top-deals .swiper-pagination-bullet {
  background: #000;
}

.top-deals .swiper-pagination-bullet-active {
  background: #000;
}

.top-deals .btn {
  margin-top: 20px;
}

.top-deals .view-all-btn {
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
  background: #000;
  color: #fff;
  border: none;
  border: 2px solid black;
  padding: 15px 78px;
  /* border-radius: 25px; */
  cursor: pointer;
  /* transition: 0.3s ease; */
  font-size: 20px;
  transition: all 0.3s ease;
}

.top-deals .view-all-btn:hover {
  background: white;
  color: black;
}