.header {
  text-align: center;
  margin-top: 50px;
  font-size: 36px;
  margin-bottom: 50px;
  letter-spacing: 2px;
}

.abt {
  display: flex;
  align-items: center;
  margin: 10px 10px;
  margin-bottom: 50px;
  justify-content: center;
}

.about-image img {
  width: 100%;
  height: auto;
  border-radius: 16px;
  object-fit: cover;
  display: block;
}

.about-desc {
  margin: 50px;
  line-height: 1.7;
  text-align: left;
}

.about-para h2 {
  margin-top: 30px;
  font-size: 20px;
  color:#111;
}

.about-para p {
  margin-top: 10px;
  color: #555;
}

@media (max-width: 576px) {
  .abt {
  margin: 10px 0;
}
  .about-image img {
  border-radius: 0;
}

.about-desc {
  margin: 20px;
  line-height: 1.7;
  text-align: left;
}
}
