.product-detail .product-info {
  max-width: 500px;
  flex-direction: column;
  justify-content: center;
}

.product-detail .product-info h1 {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.delivery {
  display: flex;
  gap: 6px;
  align-items: center;
  margin-bottom: 10px;
}

.product-detail .product-info h3 {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.sale {
  display: flex;
  align-items: center;
  gap: 28px;
}

.sale #product-price {
  text-decoration: line-through;
}

.sale #product-price-sale {
  color: red;
}

#size-text {
  margin-bottom: 10px;
}

.size-options {
  display: flex;
  gap: 10px;
}

.size-box {
  border: 1px solid #ccc;
  padding: 10px 18px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #fff;
  font-size: 12px;
}

.size-box:hover {
  border-color: #999;
}

.size-box.active {
  border: 1px solid black;
}

.qty-cart {
  display: flex;
  align-items: center;
  gap: 30px;
}

.add-to-cart-detail {
  background-color: black;
  color: white;
  font-size: 12px;
  padding: 12px 28px;
  border: none;
  border: 1px solid black;
  cursor: pointer;
  transition: background 0.3s ease;
}

.add-to-cart-detail:hover {
  background-color: white;
  color: black;
}

.buy-btn {
  display: flex;
  margin: 0 auto;
  background-color: white;
  color: black;
  font-size: 12px;
  padding: 12px 123px;
  border: none;
  border: 1px solid black;
  cursor: pointer;
  transition: background 0.3s ease;
}

.buy-btn:hover {
  background-color: black;
  color: white;
}