/* Individual Product Card */
.product-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  cursor: pointer;
}

.product-card img {
  width: 100%;
  height: 250px;
  object-fit: contain;
  margin-bottom: 15px;
  transition: all 0.3s ease;
}

.product-card img:hover {
  transform: scale(1.05);
}

.product-card h3 {
  font-size: 15px;
  font-weight: 500;
  margin: 0;
  color: black;
 max-width: 140px;
  margin-bottom: 6px;
  word-break: break-word;
}

.product-info {
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  align-items: center;
  width: 100%;
  gap: 20px;
}

.product-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}

.product-card .price {
  font-size: 16px;
  color: black;
  font-weight: 600;
  /* margin: 0; */
}

.add-to-cart {
  background: black;
  color: #fff;
  border: none;
  border: 2px solid black;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 17px;
  border-radius: 100%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.add-to-cart:hover {
  background: white;
  color: black;
}

/* Sale */

.image-sale {
  position: relative;
}

.sale-tag {
  position: absolute;
  top: 10px;
  right: 23px;
  background: crimson;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 4px 6px;
  letter-spacing: 0.5px;
}

.price {
    display: flex;
     flex-direction: column;
    gap: 10px;
    /* text-align: center; */
}

.price .original {
  text-decoration: line-through;
  font-weight: 500;
  opacity: 30%;
}

.price .discounted {
  color: #e63946;
  font-weight: bold;
}

@media (max-width:576px) {
    .product-card {
    margin-bottom: 10px;
  }

  .product-card img {
    /* width: 80%; */
    height: 20svh;
  }

  .product-card h3 {
    font-size: 14px;
    margin: 0;
    color: black;
    font-weight: 500;
  }

  .product-info {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    margin: 0 0;
  }

  .product-card .price {
    font-size: 16px;
    margin-top: 12px;
  }

  .add-to-cart {
  background: black;
  color: #fff;
  border: none;
  border: 2px solid black;
  font-size: 14px;
  font-weight: 500;
  padding: 8px 14px;
  border-radius: 100%;
  cursor: pointer;
  transition: all 0.3s ease;
}

}