.menu-toggle {
  display: none;
}

/* Mobile Menu Sidebar */
.mobile-menu {
  position: fixed;
  inset: 0 auto 0 0;
  width: 95%;
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(10px);
  z-index: 19;
  transform: translateX(-100%);
   transition: transform 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  will-change: transform;
  box-shadow: 2px 0 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.mobile-menu.open {
  transform: translateX(0);
}

.mobile-menu-header {
  padding: 20px;
  min-height: 60px;
  border-bottom: 1px solid #eee;
  font-size: 20px;
  color: #333;
}

.mobile-menu-header i {
  font-size: 35px;
}

.nav-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
  z-index: 14;
}

.menu-bar-ftr {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: auto;
  padding: 15px 0;
  width: 100%;
  align-items: center;
  border-top: 1px solid #eee;
  /* position: absolute; */
  background: white;
}