.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 60px 20px;
}

.grid-item {
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  aspect-ratio: 1 / 1;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.4s ease;
}

.grid-item:hover img {
  transform: scale(1.1);
}

@media (max-width: 576px) {
  .image-grid {
  grid-template-columns: repeat(1, 1fr);
  gap: 0;
  padding: 60px 0;
}

.grid-item {
  border-radius: 0;
}

}