.banner {
  background: black;
  color: white;
  width: 100%;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner p {
  font-size: clamp(12px, 1.5vw, 16px);
}
