.bottom-tab {
  display: none;
}

@media (max-width: 576px) {
  
 .bottom-tab {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #fff;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 18;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
  }

  .tab-item {
    text-decoration: none;
    color: black;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    transition: color 0.3s ease;
    cursor: pointer;
  }

  .tab-item i {
    font-size: 16px;
  }

    .tab-item-active {
    color: black !important;
    font-weight: 600 !important;
  }
}

  
